fastapi
uvicorn
pydantic
qdrant-client
google-genai
google-cloud-firestore
firebase-admin
pypdf
python-dotenv
python-multipart
rank-bm25
websockets
cachetools
redis
sentence-transformers
langchain-text-splitters
numpy
requests
pytz
httpx
nodeenv
